section.approch
    .container
        .title.title--with-bottom-line
            h2.title__header Our Approch
            .title__text Check Our approches step by step

        ul.approch__list
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-1.jpg" alt="picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 1: Heading Here
                    p.approch__description.
                        Lorem ipsum dolor sit amet, mei doctus appareat philosophia at. Ut nec nostrud utroque, qui eligendi explicari te. Ad sensibus explicari definiebas sit, sit ad odio ornatus, dolores sententiae ei nam. Vidisse deterruisset eos no, doctus impetus sit id. Eos sale feugiat honestatis eu. Et his ullum iriure perfecto, ius an vidit dicat facete.
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-2.jpg" alt="picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 2: Heading Here
                    p.approch__description.
                        Lorem ipsum dolor sit amet, mei doctus appareat philosophia at. Ut nec nostrud utroque, qui eligendi explicari te. Ad sensibus explicari definiebas sit, sit ad odio ornatus, dolores sententiae ei nam. Vidisse deterruisset eos no, doctus impetus sit id. Eos sale feugiat honestatis eu. Et his ullum iriure perfecto, ius an vidit dicat facete.
            li.approch__item
                .approch__image
                    img.approch__picture(src="../images/step-3.jpg" alt="picture")
                    .approch__step step
                .approch__text
                    .approch__title Step 3: Heading Here
                    p.approch__description.
                        Lorem ipsum dolor sit amet, mei doctus appareat philosophia at. Ut nec nostrud utroque, qui eligendi explicari te. Ad sensibus explicari definiebas sit, sit ad odio ornatus, dolores sententiae ei nam. Vidisse deterruisset eos no, doctus impetus sit id. Eos sale feugiat honestatis eu. Et his ullum iriure perfecto, ius an vidit dicat facete.
                li.approch__item
                    .approch__image
                        img.approch__picture(src="../images/step-4.jpg" alt="picture")
                        .approch__step step
                    .approch__text
                        .approch__title Step 4: Heading Here
                        p.approch__description.
                            Lorem ipsum dolor sit amet, mei doctus appareat philosophia at. Ut nec nostrud utroque, qui eligendi explicari te. Ad sensibus explicari definiebas sit, sit ad odio ornatus, dolores sententiae ei nam. Vidisse deterruisset eos no, doctus impetus sit id. Eos sale feugiat honestatis eu. Et his ullum iriure perfecto, ius an vidit dicat facete.